@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100dvw;
  min-height: 100dvh;
  background: rgba(255, 255, 255, 0.95);
}

.app-main-funnels {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.funnel-section {
  background: white;
  border-radius: 16px;
  overflow: hidden;
}
