@import "tailwindcss";

@config "../tailwind.config.ts";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

body {
  min-width: 100dvw;
  min-height: 100dvh;
  background: rgba(255, 255, 255, 0.95);
}

.app-main-funnels {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.funnel-section {
  background: white;
  border-radius: 16px;
  overflow: hidden;
}
